DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/fastapi_db
JWT_SECRET=dev-super-secret-key
JWT_ALGORITHM=HS256
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0
MAIL_USERNAME=rosella.hermann15@ethereal.email
MAIL_PASSWORD=zcCpkNBTfeD9y8uC4b
MAIL_SERVER=smtp.ethereal.email
MAIL_PORT=587
MAIL_FROM=rosella.hermann15@ethereal.email
MAIL_FROM_NAME=FastAPI Beyond CRUD (Local)
DOMAIN=http://localhost:8000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_db